/*ce code vient de google */

.navbar ul {
    list-style-type: none; /* Remove bullet points */
    margin: 0;
    padding: 0;
    overflow: hidden; /* Clear floats */
    background-color: #333; /* Dark background color */
}

.navbar li {
    float: left; /* Float list items to display horizontally */
}

.navbar li a {
    display: block; /* Make the entire link area clickable */
    color: white; /* Text color */
    text-align: center;
    padding: 14px 16px; /* Space around text */
    text-decoration: none; /* Remove underlines */
    font-size: 17px;
}

/* Change the background color of links on hover */
.navbar li a:hover {
    background-color: #ddd;
    color: black;
}

/* Add an active class to highlight the current page */
.navbar li a.active {
    background-color: #04AA6D;
    color: white;
}

/*https://www.w3schools.com/css/css_navbar_vertical.asp*/
.fun ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: #f1f1f1;
}

li a {
  display: block;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
}

/* Change the link and background color on hover */
li a:hover {
  background-color: #555555;
  color: white;
}

/* Add an active class to highlight the current page */
.navbar li a.active {
  background-color: #878787;
  color: white;
}
body {
  font-family: Tahoma, Verdana, sans-serif;
}

.joli { 
width: 300px;
  border: 4px solid black;
  padding: 5px;
  margin: 4px;
}
body { 
margin: 15px;
}
