/*ce code vient de google */

.navbar ul {
    list-style-type: none; /* Remove bullet points */
    margin: 0;
    padding: 0;
    overflow: hidden; /* Clear floats */
    background-color: #333; /* Dark background color */
}

.navbar li {
    float: left; /* Float list items to display horizontally */
}

.navbar li a {
    display: block; /* Make the entire link area clickable */
    color: white; /* Text color */
    text-align: center;
    padding: 14px 16px; /* Space around text */
    text-decoration: none; /* Remove underlines */
    font-size: 17px;
}

/* Change the background color of links on hover */
.navbar li a:hover {
    background-color: #ddd;
    color: black;
}

/* Add an active class to highlight the current page */
.navbar li a.active {
    background-color: #04AA6D;
    color: white;
}

	